<%
# widget preferences
buc_regions = [
  ['',''],
  ['I prefer a content page', ''],
  ['BUC', 'National'],
  ['SEC', 'SEC'],
  ['NEC', 'NEC'],
  ['IM','IM'],
  ['SM','SM'],
  ['WM', 'WM']  
]
%>
<div class="topbar">
  <h3><%= _('Customize Your Adventist Identity Links') %></h3>
</div>
<div class="stepsDark">
  <ul id="widget_config_tabs_list" class="steps widget_config_tabs">
    <li><span><%= link_to _('Spirituality'), '#', :class => 'toggle-link', :id => 'display_spirituality_link' %></span></li>
    <li><span><%= link_to _('Vitality'), '#', :class => 'toggle-link', :id => 'display_vitality_link' %></span></li>
    <li><span><%= link_to _('Service'), '#', :class => 'toggle-link', :id => 'display_service_link' %></span></li>
    <li class="seperator">&nbsp;</li>
  </ul>
</div>

<% widget_form_tag(template_container, contained_widget) do -%>
<div id="display_spirituality" class="lightboxContent">

  <dl>
    <dt><%= _('Do you want to link to a region?') %></dt>
    <%=  select_tag 'preference_values[region_sp]', options_for_select(buc_regions), :onchange => "setregion(this, 'sp')" %>
  </dl>
  
  <div id="sp_link_options" style="<%= 'display:none;' unless preference_values['region_sp'].blank? %>">
  <dl>
    <dt><label><%= _("Select the type of content you would like to link to.") %></label></dt>
    <dd><%= select_tag 'preference_values[sp_category]', menu_item_categories(preference_values['sp_category']), :onchange => "populate_items(this, 'sp')", :class => 'textBox' -%></dd>
  </dl>
  <dl>
    <dt><%= _("Then choose a piece of content from the second list.") %></dt>
    <dd>
      <%= select_tag 'preference_values[sp_url]', menu_item_options(preference_values['sp_category'], preference_values['sp_url']), :id => 'sp_url', :class => 'textBox' -%>
      <span id="sp_spinner" style="display:none;">
        <%= image_tag('icons/spinner.gif') %>
      </span>
    </dd>
  </dl>
  </div>
</div>

<div id="display_vitality" class="lightboxContent" style="display:none">
	<dl>
    	<dt><%= _('Do you want to link to a region?') %></dt>
    <%= select_tag 'preference_values[region_vi]', options_for_select(buc_regions), :onchange => "setregion(this, 'vi')" %>
  	</dl>
	 <div id="vi_link_options" style="<%= 'display:none;' unless preference_values['region_vi'].blank? %>">
  	
  <dl>
    <dt><label><%= _("Select the type of content you would like to link to.") %></label></dt>
    <dd><%= select_tag 'preference_values[vi_category]', menu_item_categories(preference_values['vi_category']), :onchange => "populate_items(this, 'vi')", :class => 'textBox' -%></dd>
  </dl>
  <dl>
    <dt><%= _("Then choose a piece of content from the second list.") %></dt>
    <dd>
      <%= select_tag 'preference_values[vi_url]', menu_item_options(preference_values['vi_category'], preference_values['vi_url']), :id => 'vi_url', :class => 'textBox' -%>
      <span id="vi_spinner" style="display:none;">
        <%= image_tag('icons/spinner.gif') %>
      </span>
    </dd>
  </dl>
  </div>
</div>

<div id="display_service" class="lightboxContent" style="display:none">
 	<dl>
    	<dt><%= _('Do you want to link to a region?') %></dt>
    <%= select_tag 'preference_values[region_se]', options_for_select(buc_regions), :onchange => "setregion(this, 'se')" %>
  	</dl>
	<div id="se_link_options" style="<%= 'display:none;' unless preference_values['region_se'].blank? %>">
 
  <dl>
    <dt><label><%= _("Select the type of content you would like to link to.") %></label></dt>
    <dd><%= select_tag 'preference_values[se_category]', menu_item_categories(preference_values['se_category']), :onchange => "populate_items(this, 'se')", :class => 'textBox' -%></dd>
  </dl>
  <dl>
    <dt><%= _("Then choose a piece of content from the second list.") %></dt>
    <dd>
      <%= select_tag 'preference_values[se_url]', menu_item_options(preference_values['se_category'], preference_values['se_url']), :id => 'se_url', :class => 'textBox' -%>
      <span id="se_spinner" style="display:none;">
        <%= image_tag('icons/spinner.gif') %>
      </span>
    </dd>
  </dl>
  </div>
</div>
<% end -%>

<script type="text/javascript" charset="utf-8">
widgetTabsInit();
//go for the menu_items in a category
function populate_items(caller, target){
  spinner = target+'_spinner';
  target_id = target+'_url';
  $(spinner).show();
  new Ajax.Request(
    '<%= content_list_admin_menu_items_url %>',
    {
      method: 'get',
      parameters: {
        select_tag_str: 'preference_values['+target_id+']',
        category_id: target_id,
        spinner_id: spinner,
        category: caller.value
      }
    }
  );
}
function setregion(thecaller, target){
  var region = thecaller.value;
  var target_to_display = target+'_link_options';
   //alert (region);
   if(region == ''){
    $(target_to_display).show();
  }else{
    $(target_to_display).hide();
  }
}
</script>
