<%
	# widget preferences
	identity = ['Spirituality', 'Vitality', 'Service']

	buc_regions = [
	    ['None', 'None'],
	    ['BUC', 'National'],
	    ['SEC', 'SEC'],
	    ['NEC', 'NEC'],
	    ['IM','IM'],
	    ['SM','SM'],
	    ['WM', 'WM']
	  ]
  
%>


<div class="topbar">
  <h3><%= _('Customize Your Adventist Identity Links') %></h3>
</div>

<div class="stepsGray">
  <ul class="steps noNumbers">
    <li class="selected" id="link_to_spirituality_tab"><span><%= link_to _('Link for Spirituality'), '#', :id => 'link_for_spirituality'  %></span></li>
    <li id="link_to_vitality_tab"><span><%= link_to _('Link for Vitality'), '#', :id => 'link_for_vitality' %></span></li>
    <li id="link_to_service_tab"><span><%= link_to _('Link for Service'), '#', :id => 'link_for_service' %></span></li>
    <li class="seperator">&nbsp;</li>
  </ul>
</div>




<% widget_form_tag(template_container, contained_widget) do -%>
	<div class="lightboxContent">
		
		<div id="sp_content">
		
		<dl>
			<dt><%= _('Do you want to link to a region?') %></dt>
			<%= select_tag 'preference_values[region]', options_for_select(buc_regions), :onchange => 'setregion(this)' %>
		</dl>
		<dl>
			<dt><%= _('--OR -- Do you want to link to a Page Content instead?') %></dt>
		</dl>	
		
		    <dl>
		      <dt><label><%= _("Select the type of content you would like to link to.") %></label></dt>
		      <dd><%= select_tag 'menu_item[category]', menu_item_categories(@menu_category), :id => 'sp',  :onchange => 'populate_items(this)',:class => 'textBox' -%></dd>
		    </dl>
		    <dl>
		      <dt><%= _("Then choose a piece of content from the second list.") %></dt>
		      <dd>
			<%= select_tag 'menu_item[url]', menu_item_options(@menu_category || menu_item_categories.first, params[:href]), :id => 'menu_item_select_sp',  :onchange => 'take_link(this)',:class => 'textBox' -%>
			<span id="spinner_sp" style="display:none;">
			  <%= image_tag('icons/spinner.gif') %>
			</span>
		      </dd>
		    </dl>
		    <%= hidden_field_tag 'preference_values[spirituality]', '', :id => 'preference_values[spirituality]' %>
		</div>
		  
		  
		<div id="vit_content" style="display:none">
		    <dl>
		      <dt><label><%= _("Select the type of content you would like to link to.") %></label></dt>
		      <dd><%= select_tag 'menu_item[category]', menu_item_categories(@menu_category), :id => 'vit', :onchange => 'populate_items(this)',:class => 'textBox' -%></dd>
		    </dl>
		    <dl>
		      <dt><%= _("Then choose a piece of content from the second list.") %></dt>
		      <dd>
			<%= select_tag 'menu_item[url]', menu_item_options(@menu_category || menu_item_categories.first, params[:href]), :id => 'menu_item_select_vit',  :class => 'textBox' -%>
			<span id="spinner_vit" style="display:none;">
			  <%= image_tag('icons/spinner.gif') %>
			</span>
		      </dd>
		    </dl>
		    <%= hidden_field_tag 'preference_values[url_vit]', '', :id => 'preference_values[url_vit]' %>
		</div>
		  
		<div id="serv_content" style="display:none">
		    <dl>
		      <dt><label><%= _("Select the type of content you would like to link to.") %></label></dt>
		      <dd><%= select_tag 'menu_item[category]', menu_item_categories(@menu_category), :id => 'serv', :onchange => 'populate_items(this)', :class => 'textBox' -%></dd>
		    </dl>
		    <dl>
		      <dt><%= _("Then choose a piece of content from the second list.") %></dt>
		      <dd>
			<%= select_tag 'menu_item[url]', menu_item_options(@menu_category || menu_item_categories.first, params[:href]), :id => 'menu_item_select_serv', :class => 'textBox' -%>
			<span id="spinner_serv" style="display:none;">
			  <%= image_tag('icons/spinner.gif') %>
			</span>
		      </dd>
		    </dl>
		    <%= hidden_field_tag 'preference_values[url_serv]', '', :id => 'preference_values[url_serv]' %>
		</div>
	</div>
	
	
<% end -%>	

<script type="text/javascript" charset="utf-8">

	//go for the menu_items in a category	
	function populate_items(caller){
			    var el = caller.id
			    var targetpond= 'menu_item_select_'+el
			    var mycategory = caller.value
			    var myspinner = 'spinner_'+el
			        $(myspinner).show(); 
			        new Ajax.Request('<%= content_list_admin_menu_items_url %>', {
				method: 'get', 
				parameters: {
				  category_id: targetpond,
				  spinner_id: myspinner,
				  category: caller.value
			      }});
	}
	
	//the script needs to check if the link is going to be to a region or to a content page. 
	//At the moment I am just making sure I have the values from the region or from the menu_select_item_xx.
	//Take_link function is to see if I can grab the value from the menu_select_item_xx
	function take_link(chosenitem){
		var selectedval = chosenitem.value;
		alert(selectedval);
	}
	
	function setregion(thecaller){
		var myregion = thecaller.value;
		alert("I am inside regions function "+ myregion);
		//adding it to preferences for spirituality at the moment, this will changeto assign the value dinamically to the correct key in preference_values array
		$('preference_values[spirituality]').value = myregion;
	}
	
	//moving through the tabs	
	$('link_for_spirituality').observe('click', function() {
	$('sp_content').show();
	$('vit_content').hide();
	$('serv_content').hide();
	$('link_to_spirituality_tab').addClassName('selected');
	$('link_to_vitality_tab').removeClassName('selected');
	$('link_to_service_tab').removeClassName('selected');
	});
			    
	$('link_for_vitality').observe('click', function() {
	$('vit_content').show();
	$('sp_content').hide();
	$('serv_content').hide();
	$('link_to_vitality_tab').addClassName('selected');
	$('link_to_spirituality_tab').removeClassName('selected');
	$('link_to_service_tab').removeClassName('selected');
	});
	
	$('link_for_service').observe('click', function() {
	$('serv_content').show();
	$('sp_content').hide();
	$('vit_content').hide();
	$('link_to_service_tab').addClassName('selected');
	$('link_to_spirituality_tab').removeClassName('selected');
	$('link_to_vitality_tab').removeClassName('selected');
	});
						   
</script>    
	
